<div class="flex-row space-around align-items-center header">
	<div id="logo">
		<a href="" ng-click="toPath('home')"><img id="logo-img" src="app/images/logo.png"/></a>
	</div>
	<div id="navbar" class="flex-row space-between align-items-center">
		<h3 id="cart">
			<a href="" ng-click="showCart()">{{customer.cart.length}}<i class="fa fa-shopping-cart"></i>my cart</a><cart></cart>
		</h3>
		<div id="store">
			<a href="" ng-click="toStore()"><h3>store</h3></a><!-- <store-login></store-login> -->
		</div>
		<h3><a href="" ng-click="toPath('about')">about</a></h3>
		<h3><a href="" ng-click="toPath('contact')">contact</a></h3>
	</div>
</div>