<!-- hide while working with materialize -->
<div class="flex-row space-around align-items-center">
	<div id="logo">
		<h3 class="blue-text text-darken-3 hide-on-med-and-down"><a href="#/">Paulphin Photography</a></h3>
		<a class="blue-text text-darken-3 hide-on-large-only" href="#/"><h3>Paulphin</h3></a>
	</div>
	
<!-- Dropdown Structure -->


	<div id="navbar" class="blue-text text-lighten-4 flex-row space-around align-items-center hide-on-med-and-down">
		<cart></cart>
		<p id="cart">
			<a href="" ng-hide="!cart.length" ng-click="showCart()">{{cart.length}}<i class="material-icons">shopping_cart</i>my cart</a>
		</p>
		<div id="store">
			<p><a href="#/store" ng-hide="cart.length" >store</a></p>
		</div>
		<p><a href="#/about">about</a></p>
		<p><a href="#/contact">contact</a></p>
		<p><a href="#/excursion">excursion pics</a><p>
	</div>
	<div id="navbar" class="blue-text text-lighten-4 flex-row space-around align-items-center hide-on-large-only">
		<cart></cart>
		<p id="cart">
			<a href="" ng-hide="!cart.length" ng-click="showCart()">{{cart.length}}<i class="material-icons">shopping_cart</i>my cart</a>
		</p>
	</div>
	<div class="hide-on-large-only">
		<!-- Dropdown Trigger -->
		<!-- <a href='javascript:void(0);' data-activates='demoDropdown' dropdown constrain-width="false" data-hover="true">
		    <i class="material-icons medium blue-text">menu</i>
		</a> -->
		<a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="right" data-menuwidth="500" data-closeonclick="true">
		    <i class="material-icons medium blue-text">menu</i>
		</a>
		<ul id='nav-mobile' class='side-nav'>
    		<li><a class="blue-text" href="#/store">store</a></li>
		    <li><a class="blue-text" href="#/about">about</a></li>
		    <li><a class="blue-text" href="#/contact">contact</a></li>
		    <li><a class="blue-text" href="#/excursion">excursion pics</a><li>
		</ul>
	</div>
</div>

<!-- <div class="navbar-fixed"> -->
	<!-- <nav class="main-header white">
		<div class="nav-wrapper white">

			<a class="brand-logo blue-text text-darken-3" href="#/">Paulphin</a>

			<ul id="navbar" class="right hide-on-med-and-down">
				<li id="cart">
					<a href="" ng-click="showCart()"><i class="material-icons md-dark">shopping_cart</i></a><cart></cart>
				</li>
				<li id="store">
					<a class="black-text" href="" ng-click="toPath('store')">store</a>
				</li>
				<li><a class="black-text" href="" ng-click="toPath('about')">about</a></li>
				<li><a class="black-text" href="" ng-click="toPath('contact')">contact</a></li>
			</ul>
		</div>
	</nav> -->
<!-- </div> -->
