<!-- hide while working with materialize -->
<div class="flex-row space-around align-items-center">
	<div id="logo">
		<a class="blue-text text-darken-3" href="#/"><h3>Paulphin Photography</h3></a>
	</div>
	<div id="navbar" class="flex-row space-around align-items-center">
		<p id="cart">
			<a href="" ng-click="showCart()">{{cart.length}}<i class="material-icons">shopping_cart</i>my cart</a><cart></cart>
		</p>
		<div id="store">
			<p><a href="" ng-click="toPath('store')">store</a></p>
		</div>
		<p><a href="" ng-click="toPath('about')">about</a></p>
		<p><a href="" ng-click="toPath('contact')">contact</a></p>
	</div>
</div>

<!-- <div class="navbar-fixed"> -->
	<!-- <nav class="main-header white">
		<div class="nav-wrapper white">

			<a class="brand-logo blue-text text-darken-3" href="#/">Paulphin</a>

			<ul id="navbar" class="right hide-on-med-and-down">
				<li id="cart">
					<a href="" ng-click="showCart()"><i class="material-icons md-dark">shopping_cart</i></a><cart></cart>
				</li>
				<li id="store">
					<a class="black-text" href="" ng-click="toPath('store')">store</a>
				</li>
				<li><a class="black-text" href="" ng-click="toPath('about')">about</a></li>
				<li><a class="black-text" href="" ng-click="toPath('contact')">contact</a></li>
			</ul>
		</div>
	</nav> -->
<!-- </div> -->
