<!-- <header>
	<div class="logo">
		<a href="#/"><img id="logo--img" src="app/images/logo.png"/></a>
	</div>
	<div class="navbar">
		<div><a href='#/products'>shop</a></div>
		<div><a href="">about</a></div>
		<div><a href="">contact</a></div>
		<div><a href="">login</a></div>
	</div>
</header>

<main>
	<h1>{{user.name}}'s CART</h1>

	<div class="flex-column">
		<div class="flex-row" ng-repeat="item in cart">
			<div>title: <h3>{{item.product.title}}</h3></div>
			<div>quatity: <input id="quantity" class="input-number" type=number ng-model="item.quantity" ng-change="updateCartItemQuantity(item._id, item.quantity)"></div>
			<div>${{item.total}}</div>
			<div><i class="fa fa-times" ng-click="deleteItem(item._id)"></i></div>
		</div>
		<div class="border--red"> <strong>Total cost: ${{total}}</strong></div>
		<button ng-click="createOrder()">place order</button>
	</div>
</main> -->


<!-- added all of this to the shopping page (products.html) -->