<main-header></main-header>

<main>
	<header class="">
		<h3 class="item">cart items</h3>

		<div class="flex-row content-center"> 
			<div class="flex-row item" ng-repeat="item in cart">
				<image class="image-thumbnail" ng-src="{{item.product.image}}"/>
				<div class="flex-column content-center align-start">
					<p class="flex1_5 border-bottom"><stong>title:</strong> {{item.product.title}}</p>
					<p class="flex1"><strong>quatity:</strong> {{item.quantity}}</p>
					<p class="flex1"><strong>price:</strong> ${{item.total}}</p>
				</div>
			</div>
		</div>

			<h2 class="item">Total cost: ${{total}}</h2>
			<button class="center" ng-click="backToShop()">continue shopping</button>
		

	</header>

	<div class="flex-column align-items-center width50">
		<h1>contact information:</h1>
		<input type="text" ng-model="customer.name" placeholder="name" required>
		<input type="text" ng-model="customer.email" placeholder="email" required>
		<!-- <input type="text" ng-model="customer.phone" placeholder="phone (optional)" required> -->
		<h1>ship order to:</h1>
		<input type="text" ng-model="customer.address[0].name" placeholder="name (if different than above)">
		<input type="text" ng-model="customer.address[0].address" placeholder="address" required>
		<input type="text" ng-model="customer.address[0].address2" placeholder="address 2">
		<input type="text" ng-model="customer.address[0].city" placeholder="city" required>
		<input type="text" ng-model="customer.address[0].state" placeholder="state" required>
		<input type="number" ng-model="customer.address[0].zip" placeholder="zip" required>
		<button ng-click="submitShippingInfo(customer.name, customer.email, customer.address[0].name, customer.address[0].address, customer.address[0].address2, customer.address[0].city, customer.address[0].state, customer.address[0].zip)">submit and place order</button>
	</div>
</main>

