<main-header></main-header>


<main class="conatiner">
	<h4 class="center-align">Contact me</h4>
  <form class="flex-column align-items-center content-center width50" name="mail"> 
    <input type="text" ng-model="fromName" placeholder="name">
    <input type="text" ng-model="fromEmail" placeholder="email">
    <br />
    <br />
    <br />
    <br />
    <i class="material-icons prefix">mode_edit</i>
    <textarea id="message" class="materialize-textarea black-text" ng-model="message" placeholder="type message here"></textarea>
    <button  ng-click="sendEmail(fromEmail, fromName, 'markmciver83@gmail.com', 'Paul', 'inquiry from website', message)">send message</button>
  </form>
</main>