<div class=" flex-row space-around align-items-center header black">
	<div id="logo">
		<a class="blue-text text-darken-3" href="#/"><h3>Paulphin Photography</h3></a>
	</div>
	<div id="navbar" class="blue-text text-lighten-4 flex-row space-around align-items-center">
		<p id="cart">
			<a href="" ng-hide="!cart.length" ng-click="showCart()">{{cart.length}}<i class="material-icons">shopping_cart</i>my cart</a><cart></cart>
		</p>
		<div id="store">
			<p><a href="#/store" ng-hide="cart.length" >store</a></p>
		</div>
		<p><a href="#/about">about</a></p>
		<p><a href="#/contact">contact</a></p>
	</div>
</div>

<div id="payment-wrap">
	<main class="center-align">
		<div class="width50 padding40 trans-light">
			<h1>Payment</h1>
			<h5>Order summary:</h5>
			Products:
			<div class="flex-row content-center">
				<div class="flex-column item center" ng-repeat='item in order.products'>
					<div>{{item.product.title}}</div> 
					<div ng-show="item.photo.title">{{item.photo.title}}</div>
					<div>Quantity: {{item.quantity}}</div>
					<div>${{item.price * item.quantity}}</div>
					
				</div>
			</div>
			Shipping address:<br>
			<p>{{order.address.name}}</p>
			<p>{{order.address.address}} {{order.address.address2}}</p>
			<p>{{order.address.city}}, {{order.address.state}} {{order.address.zip}}</p>
			<br>
			Total price: ${{order.total}}
			<br>
			<div class="section">
				<p><em>We do not receive or store any of your card information.</em>  Your payment is securely processed through <a href="https://stripe.com/about" target="blank">Stripe</a>.</p>
			</div>

			<form action="{{chargeLocation}}" method="POST">
			  	<script
			    	src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    	data-key="pk_test_t9lgCJMAv93eanyZZBqWM3SX"
			    	data-amount= $scope.order.total * 100,
			    	data-name="Paulphin">
			  	</script>
			</form>
		</div>
	</main>
</div>
