
<main>
<div class='flex-column'>
	<h1>Payment</h1>
	Order summary:
	<br>
	Products:
	<div class="flex-row">
		<div class="flex-column item" ng-repeat='item in order.products'>
			<div>{{item.product.title}}</div> 
			<div>Quantity: {{item.quantity}}</div>
			<div>${{item.price * item.quantity}}</div>
			
		</div>
	</div>
	Shipping address:<br>
	<p>{{order.address.name}}</p>
	<p>{{order.address.address}} {{order.address.address2}}</p>
	<p>{{order.address.city}}, {{order.address.state}} {{order.address.zip}}</p>
	<br>
	Total price: ${{order.totalCost}}
	<br>
	<button class="center" ng-click='pay()'>Pay with Stripe</button><br>
	For your safety, <em>we do not receive your card information on our servers.</em>  Your payment is safely processed with Stripe.  
</div>
</main>
