
<main>
<div class='flex-column'>
	<h1>Payment</h1>
	Order summary:
	<br>
	Products:
	<div class="flex-row">
		<div class="flex-column item" ng-repeat='item in order.products'>
			<div>{{item.product.title}}</div> 
			<div ng-show="item.photo.title">{{item.photo.title}}</div>
			<div>Quantity: {{item.quantity}}</div>
			<div>${{item.price * item.quantity}}</div>
			
		</div>
	</div>
	Shipping address:<br>
	<p>{{order.address.name}}</p>
	<p>{{order.address.address}} {{order.address.address2}}</p>
	<p>{{order.address.city}}, {{order.address.state}} {{order.address.zip}}</p>
	<br>
	Total price: ${{order.total}}
	<br>
	<div class="section">
		<p><em>We do not receive or store any of your card information.</em>  Your payment is securely processed through <a href="https://stripe.com/about" target="blank">Stripe</a>.</p>
	</div>

	<form action="{{chargeLocation}}" method="POST">
	  	<script
	    	src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	    	data-key="pk_test_t9lgCJMAv93eanyZZBqWM3SX"
	    	data-amount= $scope.order.total * 100,
	    	data-name="Paulphin">
	  	</script>
	</form>
</div>
</main>
