<header class="flex-row"> 
	<div class="item"><a href="/logout"><h3>logout</h3></a></div>
	<div class="item"><a href="#/admin/orders"><h3>orders</h3></a> </div>
	<div class="item"><a href="#/admin/products"><h3>products</h3></a> </div>
</header>

<main class="admin">

	<h2>Photos list</h2>
	<input type="text" ng-model="filter" placeholder="look up"/>
	<div class="flex-row" ng-repeat="photo in photos | filter: filter">
		<div><p>id:</p><input readonly="true" ng-model="photo._id"/></div>
		<div><p>title:</p><input type="text" ng-model="photo.title"></input></div>
		<div><p>imageUrl:</p><img class="image-small" ng-src="{{photo.imageUrl}}"/></div>
		<div><p>description:</p><input ng-model="photo.description"></input> </div>
		<div><p>category:</p><input ng-model="photo.category"></input> </div>
		<div><p>auth:</p><input ng-model="photo.auth"></input> </div>
		<div><button ng-click="updatePhoto(photo._id, photo.title, photo.description, photo.category, photo.auth)">update</button>
		<button ng-click="removePhoto(photo._id)">delete</button></div>
	</div>

	<br/>
	<br/>

	<h2> new photo </h2>
	<div class="flex-column" ng-show="true">
		<input type="text" ng-model="photoTitle" placeholder="title"></input>

		<div class="flex-row">
			<form enctype="multipart/form-data">
	        	<input type="file" ng-file-select="onFileSelect($files)" required/>
	   		</form>
	   		<b>Preview:</b><br />
	   		<img ng-show="imageSrc" class="image-small" ng-src="{{imageSrc}}" /><br/>
	   	</div>

		<!-- <input type="text" ng-model="imageUrl" placeholder="image url"/> -->
		<textarea ng-model="photoDescription" placeholder="decription: max 100 char"></textarea>
		<input ng-model="photoCategory" placeholder="type"></input>
		<input ng-model="photoAuth" placeholder="auth" required></input>
		<!-- <button ng-click="addPhoto(imageSrc, file)">submit</button> -->
		<button ng-click="addPhoto(imageSrc, file, photoTitle, photoDescription, photoCategory, photoAuth)">submit</button>
	</div>
	
</main>