<header class="flex-row"> 
	<div class="item"><a href="/logout"><h3>logout</h3></a></div>
	<div class="item"><a href="#/admin/orders"><h3>orders</h3></a> </div>
	<div class="item"><a href="#/admin/photos"><h3>photos</h3></a> </div>
</header>

<main class="admin">

	<h2>product list</h2>
	<input type="text" ng-model="filter" placeholder="look up"/>
	<div class="flex-row" ng-repeat="product in products | filter: filter">
		<div><p>id:</p><input readonly="true" ng-model="product._id"/></div>
		<div><p>title:</p><input type="text" ng-model="product.title"></input></div>
		<div><p>image:</p><img class="image-small" ng-src="{{product.image}}"/></div>
		<div><p>description:</p><input ng-model="product.description"></input> </div>
		<div><p>price:</p><input id="number" type="number" ng-model="product.price"></input> </div>
		<div><p>category:</p><select ng-model="product.category" ng-options="option for option in categoryOptions"></select> </div>
		<div><button ng-click="updateProduct(product._id, product.title, product.description, product.price, product.category)">update</button>
		<button ng-click="removeProduct(product._id)">delete</button></div>
	</div>

	<br/>
	<br/>

	<h2> new product </h2>
	<div class="flex-column" ng-show="true">
		<input type="text" ng-model="productTitle" placeholder="title"></input>
		<input class="input-number" type="number" ng-model="productPrice" placeholder="price" required></input>


		<div class="flex-row">
			<form enctype="multipart/form-data">
	        	<input type="file" ng-file-select="onFileSelect($files)" >
	   		</form>
	   		<b>Preview:</b><br />
	   		<img ng-show="imageSrc" class="image-small" ng-src="{{imageSrc}}" /><br/>
	   	</div>

		<!-- <input type="text" ng-model="productImage" placeholder="image url"/> -->
		<textarea ng-model="productDescription" placeholder="decription: max 100 char"></textarea>
		<select ng-model="productCategory" ng-options="option for option in categoryOptions"></select>
		<button ng-click="addProduct(imageSrc, file, productTitle, productPrice, productDescription, productCategory)">submit</button>
	</div>
	
</main>