<main-header class="trans-dark"></main-header>

<div id="store-wrap">	
	<main>
		<div class=" width80 flex-column align-items-center">

		<div class="width100 blue-text trans-light">	
			<div class="flex-column align-items-center container">
				<br />
				<h4 class="center">Popular Items</h4>
				<div class="width100 flex-row space-around">
					<div class="item black-text" ng-repeat="product in favorites">
						<product class="item"></product>
					</div>
				</div>
			</div>
		</div>
		<br />
		<br />


			
		<div class="width100 section">
			<div class="center trans-light">
				<br />
				<h2 class="blue-text">Build Your Own</h2>

				<div class="row">
					<div class="col s3 ">
						<h3>Step<h1>1</h1></h3>
						<h5>choose a product</h5>
						<br>
						<div id="item" class="flex-column content-start">
							<div class="item black-text" ng-repeat="product in buildProducts">
								<div class="flex-column align-items-center">
									<img ng-click="buildItem(product)" class="image-small" ng-src="{{product.image}}"/>
									<p>{{product.title}}</p>
									<p>${{product.price}}</p>
								</div>
							</div>
						</div>
					</div>


					<div class="col s6">	
						<h3>Step<h1>2</h1></h3>
						<h5>choose an image</h5>
						<br>
						<br>
						<div class="row">	
							<div class="col s3" ng-repeat="photo in photos">
								<div class="flex-column align-items-center">
									<div class="image">
										<div>
											<i pop-up  id="enlarge-image" class="material-icons md-light md-36">photo_size_select_large</i>
											<i id="add-image" class="material-icons md-light md-36" ng-click="buildImage(photo)">add_circle_outline</i>
											<img pop-up id="pop-up" class="image-thumbnail" ng-src="{{photo.imageUrl}}"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>



					<div id="built-product" class="col s3">
						<h3>Step<h1>3</h1></h3>
						<h5>add item to cart</h5>
						<br>
						<div class="flex-column align-items-center">
							<img id="chosen-item" ng-src="{{item}}" alt="product preview" class="image-thumbnail border-color item">
							</img>

							<img id="chosen-image" ng-src="{{imageUrl}}" alt="image preview" class="image-thumbnail border-color item">
							</img>
							<!-- <button ng-click="addToCart(product, photo)"><i class="material-icons">add_shopping_cart</i> add</button> -->

							<div class="input-field col s4">
						        <a class="waves-effect waves-light btn" ng-click="addToCart(product, photo)"><i class="material-icons">add_shopping_cart</i> add</a>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>

<!-- hide while working with materialize -->
<!-- <main class="flex-column align-items-center">
	

	<header class="width140 background-color">
		<h1 class="item">Paulphin Store</h1>
	</header>



	<div class="flex-column align-items-center section">
		<h2>Most Popular</h2>
		<div class="flex-row wrap">
			<div ng-repeat="product in favorites">
				<product></product>
			</div>
		</div>
	</div>


	<header class="width50 section"></header>

	<div class="flex-column align-items-center section">

		<h2>Build Your Own</h2>

		<div class="flex-row content-center align-start section">
			
			<div class="flex-column align-items-center flex1">
				<header><h2>items</h2></header>
				<div id="item" class="flex-column content-start">
					<div class="item" ng-repeat="product in buildProducts">
						<div class="flex-column align-items-center">
							<img ng-click="buildItem(product)" class="image-small" ng-src="{{product.image}}"/>
							<p>{{product.title}}</p>
						</div>
					</div>
				</div>
			</div>


			<div class="flex-column align-items-center flex2">	
				<header><h2>images</h2></header>
				<div class="flex-row wrap">	
					<div class="border-color" ng-repeat="photo in photos">
						<div class="flex-column align-items-center">
							<i ng-click="buildImage(photo)"class="fa fa-plus center"></i>
							<div pop-up><img id="image" class="image-small" ng-src="{{photo.imageUrl}}"/></div>
						</div>
					</div>
				</div>
			</div>



			<div id="built-product" class="flex-column space-between align-items-center flex1">
				<header><h2>Build My Item</h2></header>
				<img id="chosen-item" ng-src="{{item}}" alt="choose item" class="image-thumbnail border-color item">
				</img>

				<img id="chosen-image" ng-src="{{imageUrl}}" alt="choose image" class="image-thumbnail border-color item">
				</img>
				<button ng-click="addToCart(product, photo)"><i class="fa fa-cart-plus"></i> add</button>

			</div>


		</div>
	</div>

</main> -->